
{% extends 'mainapp/base.html' %}
{% block home %}active{%  endblock %}
{% block body %}
	<div class="h">
		<h1 class="cl">UPLOAD NEWS HERE</h1>
	</div>

	<div class="h">
		<label for="user" class="cl">type news here</label> 
		<br>
		<textarea row="50" cols="45"></textarea>
		<br>
		<label for="doc" class="cl"> upload supporting documents/images </label>
		<input type="file" name="docs" id="doc" accept="image/*" style="color: white;">
		<br>
		<button>upload</button>
	</div>
	<br>
	<!-- <form action="{% url 'mainapp:home' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" style="color: black;" />
	</form> -->
	<p style="font-size: 200%;" class="cl">
	CURRENTLY UPLOADED NEWS :
	</p>
{% endblock %}