.topic{

	color:white; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 64px; 
	font-weight: 700; 
	line-height: 64px; 
	margin: 0 0 0; 
	padding: 20px 30px; 
	/*text-align: center; */
	text-transform: uppercase; 
}
 
.d{

	color:red; 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 64px; font-weight: 700; 
	line-height: 64px; margin: 0 0 0; 
	padding: 20px 30px; 
	text-align: center; 
	text-transform: uppercase; 
}


h1{
	font-size: 200%;
	color: white;
}

.bod{
	background: #001942;;
}

.h{
	margin-left: 30%;
}
.helplinenumberstable{
	width:100%;
}

td, th{
	padding:2vh !important;
}

.cl{
	color: white;
}